
body {
  background-color: #D8DA3D;
  font-size: 20px;
  color: #80007E;
  zoom: 0.8;

}

h1 {
  font-size:50px;
}

hr.new3 {
  border-top: 1px dotted #80007E;
  margin-top: 4em;
}


#leftbox { 
  float:left;  
  width:20%; 
  /* height: 280px;  */
  margin: 20px 0.5em;
  display: grid;
  grid-gap: 10px;
  padding: 5px;
} 

/* #leftbox {
  
} */

#leftbox > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: left;
  padding: 0px 20px;
  font-size: 18px;
	margin:5px;
	border-right:30px solid black;
  
}

#rightbox{ 
  float:right; 
  width: 70%; 
  height:280px; 
} 


.author {
  margin-top: 25px;
}

